table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    border-width: 5px;
    border-color: lightgrey;
    border-style: ridge;
    border-spacing: 0;
    text-align: center;
}
.Cookie {
    border: none;
    background-image: url('images/CookieBirb.png');
    width: 200px;
    height: 200px;
    cursor: pointer;
}