table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    border-width: 5px;
    border-color: lightgrey;
    border-style: ridge;
    border-spacing: 0;
}
.Cookie {
    border: none;
    background-image: url('images/foodenergy_gingerbreadtitbirdcookie.gif');
    width: 80px;
    height: 80px;
    cursor: pointer;
}