table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    margin: -8px;
    margin-bottom: 0;
}
td {
    border-width: 5px;
    border-color: lightgrey;
    border-style: ridge;
    border-spacing: 0;
    text-align: center;
    white-space: nowrap;
}
ul {
    list-style: none;
}
.Cookie {
    border: none;
    background-image: url('images/CookieBirb.png');
    width: 200px;
    height: 200px;
    cursor: pointer;
}